<!DOCTYPE html>
<html>
<head>
	<title>Form Page</title>
</head>
<body>

<form action="/data" method="GET">
	Enter yout Name: <input type="text" name="name"><br>
	Enter your institution: <input type="text" name="inst"><br>

	<button type="submit">Submit</button>
</form>


<br>
Information in the DataBase:<br>
<table border="2">
	<tr>
		<th> Name </th>
		<th> Institution </th>
	</tr>

	{% for dx in data %}
	<tr>
		<td>{{ dx.name }}</td>
		<td>{{ dx.inst }}</td>
	</tr>
	{% endfor %}

</table>


</body>
</html>